
@{
    ViewBag.Title = "Education";
}

<table class="table">
    <tr>
        <th>Degree</th>
        <th>Year</th>
        <th>Institute</th>
    </tr>

    <tr>
        <td>BSC</td>
        <td>2024</td>
        <td>AIUB</td>
    </tr>

    <tr>
        <td>HSC</td>
        <td>2019</td>
        <td>AIUB</td>
    </tr>

    <tr>
        <td>SSC</td>
        <td>2017</td>
        <td>AIUB</td>
    </tr>
</table>

<a href="/Home/Index/" class="btn btn-info">Index</a>
<a href="/Home/Project/" class="btn btn-primary">Project</a>
<a href="/Home/Reference/" class="btn btn-info">Reference</a>
<a href="/Home/Personal/" class="btn btn-primary">Personal</a>

