
@{
    ViewBag.Title = "Personal";
}

<h2>Personal Information</h2>
<ul>
    <li>Name:</li>
    <li>Fathers Name:</li>
    <li>Mothers Name:</li>
    <li>Mobile Number:</li>
    <li>Email:</li>
    <li>Address:</li>
</ul>

<a href="/Home/Index/" class="btn btn-info">Index</a>
<a href="/Home/Project/" class="btn btn-primary">Project</a>
<a href="/Home/Education/" class="btn btn-info">Education</a>

<a href="/Home/Reference/" class="btn btn-primary">Reference</a>

