
@{
    ViewBag.Title = "Project";
}

<h2>Project</h2>
<ul>
    <li>Web Tech</li>
    <li>C#</li>
    <li>C++</li>
    <li>Java</li>
</ul>

<a href="/Home/Index/" class="btn btn-info">Index</a>
<a href="/Home/Education/" class="btn btn-primary">Education</a>
<a href="/Home/Reference/" class="btn btn-info">Reference</a>
<a href="/Home/Personal/" class="btn btn-primary">Personal</a>

