
@{
    ViewBag.Title = "Reference";
}

<h2>Reference</h2>
<ul>
    <li>1</li>
    <li>2</li>
    <li>3</li>
</ul>

<a href="/Home/Index/" class="btn btn-info">Index</a>

<a href="/Home/Project/" class="btn btn-primary">Project</a>
<a href="/Home/Education/" class="btn btn-info">Education</a>
<a href="/Home/Personal/" class="btn btn-primary">Personal</a>

